<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-xs-8 offset-md-1">
    <p>
      <strong>Business name:</strong>
      <%= @business.name %>
    </p>
    <% if @depot%>
      <p>
        <strong>Location Description:</strong>
        <%= @depot.location_desc %>
      </p>
      <p>
        <strong>Street Address:</strong>
        <%= @depot.street_address %>
      </p>
      <p>
        <strong>City:</strong>
        <%= @depot.city %>
      </p>
      <p>
        <strong>State:</strong>
        <%= @depot.state %>
      </p>
      <p>
        <strong>Zip:</strong>
        <%= @depot.zip %>
      </p>
    <% end %>

    <%= link_to 'Edit', edit_business_path(@business) %> |
    <% if @depot %>
      <%= link_to 'Edit Location', edit_depot_path %> |
    <% else %>
      <%= link_to 'Add Location', new_depot_path %> |
    <% end %>
    <%= link_to 'Back', dashboard_path %>
  </div>
</div>