<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-sm-8 offset-md-1">
    <div class="row">
      <div class="col-xl-12 text-center">
        <div class="well controls row justify-content-around">
          <div class="col-sm-4">
          <%= link_to calendar_path(date: @date - 1.month) do %>
            <p class="btn btn-primary"><</p>
          <% end %>
          </div>
          <h3 class="col-sm-4"><%= "#{@date.strftime("%B")} #{@date.year}" %></h3>
          <div class="col-sm-4">
          <%= link_to calendar_path(date: @date + 1.month) do %>
            <p class="btn btn-primary">></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <%= calendar @date do |date| %>
          <%= date.day %>
          <% if @last_mow_by_date[date] %>
              <div class="dropdown show">
                <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="lastMowLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Prev Mow
                </a>
                <div class="dropdown-menu" aria-labelledby="lastMowLink">
                  <% @last_mow_by_date[date].each do |job| %>
                    <%= link_to "(P) #{job.location_desc}", scheduled_location_path(job.id), :class =>'dropdown-item dark-a' %>
                  <% end %>
                </div>
              </div>
          <% end %>
          <% if @next_mow_by_date[date] %>
             <div class="dropdown show">
                <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="NextMowLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Next Mow
                </a>
                <div class="dropdown-menu" aria-labelledby="NextMowLink">
                  <% @next_mow_by_date[date].each do |job| %>
                    <%= link_to "(N) #{job.location_desc}", scheduled_location_path(job.id), :class => 'dropdown-item dark-a' %>
                  <% end %>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>