<div class="col-xs-2">
  <div class="nav flex-column">
    <div class="list-group" id="myList" role="tablist">
      <h3 class="list-group-item list-group-item">Dashboard</h3>
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Clients</a>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="clientList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Client List', clients_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Add Client', new_client_path %></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Jobs</a>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="jobList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Job List', scheduled_locations_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Add Job', new_scheduled_location_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Add Special Job</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Calendar</a>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="calendarList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'View Calendar', calendar_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'View/Edit Week', calendar_week_index_path %></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">MowFlow Schedule</a>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="mowFlowList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Optimize Schedule', mow_flow_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to "Select Today's Schedule", non_optimized_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'In Progress', in_progress_path %></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingFive">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Business</a>
          </div>
          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="businessList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab"><%= link_to 'Edit Business', my_business_path %></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Edit Admins</a>
              </div>
            </div>
          </div>
        </div>

         <div class="card">
          <div class="card-header" role="tab" id="headingSix">
            <a class="list-group-item list-group-item-action" role="tab" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Schedule History</a>
          </div>
          <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group" id="schedHistoryList" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">View Last</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">View All</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>