<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-xs-8 offset-md-1">
    <h1>Client List</h1>

    <table>
      <tr>
        <th>Client ID</th>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Second Name</th>
      </tr>

      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= client.full_name %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td><%= client.second_full_name %></td>
          <td><%= link_to 'Details', client_path(client) %></td>
            <td><%= link_to 'Add Job', new_scheduled_location_path %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>