<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-sm-8 offset-md-1">
    <h1>Work In Progress</h1>
    <div class="row">
      <div class="col-sm-8">
        <%= form_for :reschedule_in_progress, url: save_reschedule_in_progress_path do |f| %>
          
          <% @jobs.each do |job| %>
          
            <%= job.location_desc %> |
            <%= "#{job.street_address}, #{job.city}, #{job.state}" %>
            <div class="field">
              <%= f.label 'Reschedule Job for' %>
              <%=  date_select("#{job.id}", "date", order: [:day, :month, :year]) %>
            </div>
            
          <% end %>

          <div class="actions">
            <%= f.submit "Update", :class => 'btn btn-primary' %>
          </div>

        <% end %>
      </div>
      <div class="col-sm-4">
        <%= link_to 'Back', in_progress_path, :class => 'btn btn-primary' %>
      </div>
    </div>
    
  </div>
</div>