<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-sm-8 offset-md-1">

    <h1>Choose Days to Optimize</h1>
      <div id="jobs" class="row"> 
        <% @dates.each do |date|%>
          <div id="date-col" class="list-group col-sm-3" data-date="<%= date %>">
            <div class="text-center">
              <%= "#{date.strftime("%b")} #{date.day}"%>
            </div>
          <%if @jobs[date]%>
            <% @jobs[date].each do |job|%>
              <%= link_to job.location_desc, job, class: "list-group-item", id: dom_id(job), next_mow_date: date %>
            <%end%>
          <% end %>
          </div>
        <% end %>
        <div class="col-sm-3">
          <%= form_for :optimize_days, url: mow_flow_opto_path do |f| %>
            <div class="field">
              <%= f.label 'Optimization Range (days)' %>
              <%= select_tag :days, options_for_select(@optimize_days) %>
            </div>
        
            <div class="actions">
              <%= f.submit 'Optimize Schedule', :class => 'btn btn-primary' %>
            </div>
          <% end %>
          <%= link_to 'Back', dashboard_path, :class => 'btn btn-primary' %>
        </div>
      </div>


  </div>
</div>
