<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-sm-8 offset-md-1">

    <h1>Confirm Daily Schedule</h1>
      <p>This schedule will not be optimized</p>
      <div id="jobs" class="row"> 
        <div id="date-col" class="list-group col-sm-6 text-center" data-date="<%= @date %>">
          <div class="text-center">
            <%= "#{@date.strftime("%b")} #{@date.day}"%>
          </div>
          <%if @jobs[@date]%>
            <% @jobs[@date].each do |job|%>
              <%= link_to job.location_desc, job, class: "list-group-item dark-a", id: dom_id(job), next_mow_date: @date %>
            <%end%>
          <% else %>
            <p>There are no jobs scheduled for today.</p>
          <% end %>
        </div>
        <div class="col-sm-3">
          <%= link_to 'Confirm List', mow_flow_save_path, :class => 'btn btn-primary' %>
          <%= link_to 'Back', dashboard_path, :class => 'btn btn-primary' %>
        </div>
      </div>

  </div>
</div>
