<!DOCTYPE html>
<html>
  <head>
    <title>Mowflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render :partial => 'partials/navbar' %>
      <div class="row">
        <div class="col-xl-12 text-center">
          <p id="notice"><%= flash[:notice] %></p>
          <p id="alert"><%= flash[:alert] %></p>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
